#header-logo {
	fill: theme('colors.creased-khaki') !important;
	stroke: theme('colors.creased-khaki') !important;
}

#mobile-slide-out {
	animation: slide-out 4s ease-in-out;
}

.carousel-btn > * {
	stroke: theme('colors.noir-de-vigne');
	fill: #ffffff;
	stroke-width: 1rem;
	height: 2.5rem;
	width: 2.5rem;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
}

.carousel-btn:hover svg {
	fill: theme('colors.creased-khaki');
}

.carousel-img {
	transition: translate 300ms ease-in-out;
}

.loading-logo-spin {
	animation: slow-spin 20s linear infinite;
}

/* React Big Calendar */

.rbc-event.current-future-event {
	background-color: theme('colors.egyptian-earth');
	color: theme('colors.creased-khaki');
	font-size: 1.1rem;
}

.rbc-event.past-event {
	background-color: theme('colors.zinc.600');
	color: theme(colors.zinc.400);
}

.rbc-today {
	background-color: theme('colors.emerald-green');
}

.rbc-month-view {
	border: 2px solid theme('colors.creased-khaki');
	border-radius: 1rem;
	overflow: hidden;
}

.rbc-now {
	font-size: 1.2rem;
	font-weight: bold;
}

.rbc-event {
	width: 93%;
	margin: auto auto auto auto;
	font: theme(fontFamily.sans-serif);
}

.rbc-event.rbc-selected {
	font-weight: bold;
}

.rbc-event-content {
}

.rbc-date-cell {
	font-size: 1.2rem;
	font-weight: bold;
}

.rbc-off-range-bg {
	background-color: theme('colors.noir-de-vigne');
}

.rbc-off-range {
	font-size: 0.9rem;
}

.rbc-header {
	border-bottom: 2px solid theme('colors.creased-khaki');
}

.rbc-toolbar button {
	color: theme('colors.creased-khaki');
	background-color: theme('colors.noir-de-vigne');
	border: 1px solid theme('colors.creased-khaki');
}

.rbc-day-bg + .rbc-day-bg {
	border-left: 2px solid theme('colors.creased-khaki');
}

.rbc-month-row + .rbc-month-row {
	border-top: 2px solid theme('colors.creased-khaki');
}

.rbc-header + .rbc-header {
	border-left: 2px solid theme('colors.creased-khaki');
}

.rbc-toolbar {
	font-weight: bold;
}

.rbc-toolbar-label {
	font-size: 2rem;
	font-weight: bold;
	font-family: theme('fontFamily.serif');
	margin-bottom: 0.6rem;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	background-color: theme('colors.creased-khaki');
	border-color: theme('colors.creased-khaki');
	color: theme('colors.noir-de-vigne');
	font-weight: bold;
}

div.rbc-toolbar button:hover,
div.rbc-toolbar button:focus,
div.rbc-toolbar button:active:hover,
div.rbc-toolbar button:active:focus,
div.rbc-toolbar button.rbc-active:hover,
div.rbc-toolbar button.rbc-active:focus {
	background-color: theme('colors.creased-khaki');
	color: theme('colors.noir-de-vigne');
	border-color: theme('colors.creased-khaki');
	font-weight: bold;
}

.rbc-show-more{
	background-color: transparent;
	color: theme('colors.creased-khaki');
}

.rbc-show-more:hover{
	color: theme('colors.zinc.200')
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1
	}
}

@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0
	}
}

@keyframes mobile-slide-out {
	100% {
		left: 0;
	}
}

@keyframes mobile-slide-out {
	100% {
		left: 2rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	@keyframes slow-spin {
		to {
			transform: rotate(360deg);
		}
	}
}
